WATSONX_URL=
WATSONX_API_KEY=
WATSONX_PROJECT_ID=
WATSONX_MODEL_ID="watsonx/meta-llama/llama-4-maverick-17b-128e-instruct-fp8"

MILVUS_HOST=localhost
MILVUS_PORT=19530
MILVUS_USER=
MILVUS_PASSWORD=
MILVUS_COLLECTION_NAME=

TAVILY_API_KEY=